@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  /* --foreground: #395f3f; */
  --foreground: #183a1d;
  --background: #efeacf;
  font-family: var(--font-playfair);
  /* --background: #f9fafb; */
}
@theme {
  /* --color-arancione: #f0a04b; */
  --color-arancione: #b6752f;
  --color-verde: #183a1d;
  --color-sfondo: #efeacf;
  --color-sfondo-card: #fefbe9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}
p,
h3 {
  font-family: var(--font-lato);
}
